<div class="product" *ngFor="let product of products">
    <img class="productPicture" [src]=product.photo/>
    <h3> {{ product.name }} </h3>
    <p class="productPrice">{{ product.price | currency: 'USD' }}</p>
    <button type="button" (click)="buyProduct(product)" class="buttons btn btn-success">Buy</button>
    <div class="productInput">{{ cart[product.name] ? cart[product.name] : 0 }}</div>
    <button type="button" (click)="sellProduct(product)" class="buttons btn btn-danger">Sell</button>
</div>
