.product {
    height: 290px;
    border: 3px solid rgb(248, 245, 245);
    text-align: center;
}
.productPicture {
    height: 100px;
    margin-top: 20px;
}   
.buttons {
    width: 100px;
}
.productPrice {
    font-weight: bold;
    color: rgb(88, 170, 88);
    font-size: 20px;
}
.productInput {
    border: 1px solid rgb(197, 189, 189);
    text-align: center;
    display: inline-block;
    margin: 10px;
    width: 40px;
    border-radius: 10px;
}